In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [33]:
# Get an overview of the DataFrame's structure and data types
crowdfunding_info_df.info()

# Get summary statistics for numeric columns
numeric_summary = crowdfunding_info_df.describe()

# Display the summary statistics
numeric_summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

,cf_id,contact_id,goal,pledged,backers_count,launched_at,deadline
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,1585.743000,3751.434000,43983.100000,42748.055000,727.005000,1.610955e+09,1.627459e+09
std,926.944534,1431.743284,58962.425595,57415.481551,1137.723135,1.330154e+07,9.072194e+06
min,23.000000,1235.000000,100.000000,0.000000,0.000000,1.579068e+09,1.609913e+09
25%,758.750000,2502.750000,4200.000000,5911.250000,86.000000,1.601507e+09,1.619672e+09
50%,1571.500000,3706.500000,8300.000000,11950.000000,184.500000,1.611554e+09,1.627232e+09
75%,2402.250000,4994.250000,80625.000000,66294.250000,923.750000,1.620018e+09,1.635224e+09
max,3209.000000,6234.000000,199200.000000,199110.000000,7295.000000,1.643695e+09,1.645596e+09

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [34]:
import numpy as np 

# Specify the Downloads directory
downloads_dir = os.path.expanduser("~/Downloads")

# Construct the file path
file_path = os.path.join(
    downloads_dir, "Starter_Files", "Resources", "crowdfunding.xlsx"
)

# Check if the file exists
if os.path.isfile(file_path):
    # Load the Excel data
    data = pd.read_excel(file_path)

    # Split 'category & sub-category' column into separate 'category' and 'subcategory' columns
    data[['category', 'subcategory']] = data['category & sub-category'].str.split(pat='/', n=1, expand=True)

    # Create a subcategory DataFrame
    subcategory_df = data[['subcategory']].drop_duplicates().reset_index(drop=True)
    subcategory_df['subcategory_id'] = subcategory_df.index.astype(str) + ' ' + 'subcat' + (subcategory_df.index + 1).astype(str)

    # Create a category DataFrame
    category_df = data[['category']].drop_duplicates().reset_index(drop=True)
    category_df['category_id'] = category_df.index.astype(str) + ' ' + 'cat' + (category_df.index + 1).astype(str)
    
    # Reorder the columns in DataFrames
    subcategory_df = subcategory_df[['subcategory_id', 'subcategory']]
    category_df = category_df[['category_id', 'category']]

    # Print the first few rows of the data to check the formatted columns
    print(subcategory_df.head())
    print(category_df.head())

    # Export DataFrames to CSV files
    subcategory_df.to_csv('subcategory.csv', index=False)
    category_df.to_csv('category.csv', index=False)
    
     # Create numpy arrays for category and subcategory IDs
    category_ids = np.array(category_df['category_id'])
    subcategory_ids = np.array(subcategory_df['subcategory_id'])
    
    # Add "cat" and "subcat" to the IDs using list comprehensions
    category_ids_with_prefix = [f'cat{num}' for num in range(1, len(category_df) + 1)]
    subcategory_ids_with_prefix = [f'subcat{num}' for num in range(1, len(subcategory_df) + 1)]

    # Print the category and subcategory IDs with prefixes
    print("Category IDs with Prefix:", category_ids_with_prefix)
    print("Subcategory IDs with Prefix:", subcategory_ids_with_prefix)
    
else:
    print(f"The file '{file_path}' does not exist.")

  subcategory_id  subcategory
0      0 subcat1  food trucks
1      1 subcat2         rock
2      2 subcat3          web
3      3 subcat4        plays
4      4 subcat5  documentary
  category_id      category
0      0 cat1          food
1      1 cat2         music
2      2 cat3    technology
3      3 cat4       theater
4      4 cat5  film & video
Category IDs with Prefix: ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
Subcategory IDs with Prefix: ['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [18]:
# Get the unique categories and subcategories in separate lists
unique_categories = category_df['category'].tolist()
unique_subcategories = subcategory_df['subcategory'].tolist()

# Print the unique categories and subcategories
print("Unique Categories:", unique_categories)
print("Unique Subcategories:", unique_subcategories)

Unique Categories: ['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
Unique Subcategories: ['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [19]:
# Get the number of distinct values in the categories and subcategories lists
num_distinct_categories = len(set(unique_categories))
num_distinct_subcategories = len(set(unique_subcategories))

# Print the results
print("Number of Distinct Categories:", num_distinct_categories)
print("Number of Distinct Subcategories:", num_distinct_subcategories)

Number of Distinct Categories: 9
Number of Distinct Subcategories: 24

In [20]:
category_df

  category_id      category
0      0 cat1          food
1      1 cat2         music
2      2 cat3    technology
3      3 cat4       theater
4      4 cat5  film & video
5      5 cat6    publishing
6      6 cat7         games
7      7 cat8   photography
8      8 cat9    journalism

In [21]:
subcategory_df

   subcategory_id        subcategory
0       0 subcat1        food trucks
1       1 subcat2               rock
2       2 subcat3                web
3       3 subcat4              plays
4       4 subcat5        documentary
5       5 subcat6     electric music
6       6 subcat7              drama
7       7 subcat8         indie rock
8       8 subcat9          wearables
9      9 subcat10         nonfiction
10    10 subcat11          animation
11    11 subcat12        video games
12    12 subcat13             shorts
13    13 subcat14            fiction
14    14 subcat15  photography books
15    15 subcat16   radio & podcasts
16    16 subcat17              metal
17    17 subcat18               jazz
18    18 subcat19       translations
19    19 subcat20         television
20    20 subcat21       mobile games
21    21 subcat22        world music
22    22 subcat23    science fiction
23    23 subcat24              audio

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [35]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt


# Create a copy of the crowdfunding_info_df DataFrame named campaign_df.
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

# Rename the "blurb" column to "description"
campaign_df.rename(columns={"blurb": "description"}, inplace=True)

# Convert "launched_at" and "deadline" columns to datetime format
campaign_df["launch_date"] = pd.to_datetime(campaign_df["launched_at"], unit="s").dt.date
campaign_df["end_date"] = pd.to_datetime(campaign_df["deadline"], unit="s").dt.date


# Drop the original "launched_at" and "deadline" columns
campaign_df.drop(columns=["launched_at", "deadline"], inplace=True)

campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,staff_pick,spotlight,category & sub-category,launch_date,end_date
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,False,False,food/food trucks,2020-02-13,2021-03-01
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,False,True,music/rock,2021-01-25,2021-05-25
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,False,False,technology/web,2020-12-17,2021-12-30
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,False,False,music/rock,2021-10-21,2022-01-17
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,False,False,theater/plays,2020-12-21,2021-08-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,False,True,food/food trucks,2020-12-29,2021-05-30
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,False,False,theater/plays,2021-10-15,2021-11-30
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,False,False,theater/plays,2021-11-06,2021-12-10
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,False,True,music/indie rock,2020-10-08,2021-04-11
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,False,False,food/food trucks,2020-12-30,2021-08-18

In [23]:
# Convert "goal" and "pledged" columns to float
campaign_df["goal"] = campaign_df["goal"].astype(float)
campaign_df["pledged"] = campaign_df["pledged"].astype(float)

campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,staff_pick,spotlight,category & sub-category,launch_date,end_date
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,False,False,food/food trucks,2020-02-13,2021-03-01
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,False,True,music/rock,2021-01-25,2021-05-25
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,False,False,technology/web,2020-12-17,2021-12-30
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,False,False,music/rock,2021-10-21,2022-01-17
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,False,False,theater/plays,2020-12-21,2021-08-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,False,True,food/food trucks,2020-12-29,2021-05-30
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,False,False,theater/plays,2021-10-15,2021-11-30
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,False,False,theater/plays,2021-11-06,2021-12-10
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,False,True,music/indie rock,2020-10-08,2021-04-11
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,False,False,food/food trucks,2020-12-30,2021-08-18

In [24]:
# Check the data types of the columns in campaign_df
data_types = campaign_df.dtypes

# Create a DataFrame to display the data types with the specified format
data_types_df = pd.DataFrame(data_types, columns=["Data Type"]).reset_index()
data_types_df.columns = ["Column Name", "Data Type"]

# Print the data types DataFrame with the desired format
data_types_df

                Column Name Data Type
0                     cf_id     int64
1                contact_id     int64
2              company_name    object
3               description    object
4                      goal   float64
5                   pledged   float64
6                   outcome    object
7             backers_count     int64
8                   country    object
9                  currency    object
10               staff_pick      bool
11                spotlight      bool
12  category & sub-category    object
13              launch_date    object
14                 end_date    object

In [43]:
# Split 'category & sub-category' column into separate 'category' and 'subcategory' columns
campaign_df[['category', 'subcategory']] = campaign_df['category & sub-category'].str.split('/', n=1, expand=True)
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,staff_pick,spotlight,category & sub-category,launch_date,end_date,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,False,False,food/food trucks,2020-02-13,2021-03-01,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,False,True,music/rock,2021-01-25,2021-05-25,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,False,False,technology/web,2020-12-17,2021-12-30,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,False,False,music/rock,2021-10-21,2022-01-17,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,False,False,theater/plays,2020-12-21,2021-08-23,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,False,True,food/food trucks,2020-12-29,2021-05-30,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,False,False,theater/plays,2021-10-15,2021-11-30,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,False,False,theater/plays,2021-11-06,2021-12-10,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,False,True,music/indie rock,2020-10-08,2021-04-11,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,False,False,food/food trucks,2020-12-30,2021-08-18,food,food trucks

In [46]:
# Merge campaign_df with category_df on the "category" column
campaign_merged_df = pd.merge(campaign_df, category_df, on="category", how="left")

# Merge campaign_merged_df with subcategory_df on the "subcategory" column
campaign_merged_df = pd.merge(campaign_merged_df, subcategory_df, on="subcategory", how="left")

# List of columns to keep
columns_to_keep = [
    "cf_id", "contact_id", "company_name", "description", "goal",
    "pledged", "outcome", "backers_count", "country", "currency",
    "launch_date", "end_date", "category_id", "subcategory_id"
]

# Drop unwanted columns
campaign_merged_df = campaign_merged_df[columns_to_keep]

# Display the DataFrame with only the specified columns
campaign_merged_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13,2021-03-01,0 cat1,0 subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25,2021-05-25,1 cat2,1 subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,2020-12-17,2021-12-30,2 cat3,2 subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,2021-10-21,2022-01-17,1 cat2,1 subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,2020-12-21,2021-08-23,3 cat4,3 subcat4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,2020-12-29,2021-05-30,0 cat1,0 subcat1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,2021-10-15,2021-11-30,3 cat4,3 subcat4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,2021-11-06,2021-12-10,3 cat4,3 subcat4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,2020-10-08,2021-04-11,1 cat2,7 subcat8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,2020-12-30,2021-08-18,0 cat1,0 subcat1

In [57]:
# Export the DataFrame to a CSV file
campaign_merged_df.to_csv('campaign.csv', index=False)

### Extract the contacts.xlsx Data.

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [52]:
import pandas as pd
import json

In [53]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_raw_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_raw_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [54]:
contact_info_df = pd.DataFrame([json.loads(contact) for contact in contact_raw_df["contact_info"].tolist()])
contact_info_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [55]:
# Split the 'name' column into 'first_name' and 'last_name' columns
contact_info_df[['first_name', 'last_name']] = contact_info_df['name'].str.split(' ', n=1, expand=True)

# Drop the original 'name' column 
contact_info_df.drop(columns=['name'], inplace=True)

# Reorder the columns
contact_info_df = contact_info_df[['contact_id', 'first_name', 'last_name', 'email']]

# Display the updated DataFrame
contact_info_df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [56]:
# Export the DataFrame to a CSV file
contact_info_df.to_csv('contact_info.csv', index=False)